html {
  overflow-x: hidden;
}

body, 
main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: black;
}

main {
  background-color: #232629;
  position: relative;
  transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
  z-index: 2;
}

main > .card-container {
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

main > .card-container > .card-container-left {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 47vw;
}

main > .card-container > .card-container-left > .top-left-card {
  background-color: #E4E6C3;
  height: 53vh;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  position: relative;
}

main > .card-container > .card-container-left > .top-left-card > h1{
  margin: 0px;
  font-size: 128px;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

main > .card-container > .card-container-left > .bottom-left-card {
  background-color: #FAEDCD;
  height: 49vh;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  position: relative;
}

main > .card-container > .card-container-left > .bottom-left-card > .gamer {
  position: absolute;
  left: 25px;
  top: -15px;
  font-size: 2.7rem;
  font-weight: bold;
}

main > .card-container > .card-container-left > .bottom-left-card > .student {
  position: absolute;
  writing-mode: vertical-lr;
  right: -25px;
  top: 45px;
  font-size: 2.7rem;
  font-weight: bold;
  font-family: 'montserrat';
}

main > .card-container > .card-container-right {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 47vw;
}

main > .card-container > .card-container-right > .top-right-card {
  background-color: white;
  height: 70vh;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  position: relative;
}

main > .card-container > .card-container-right > .top-right-card > .yuvanesh{
  margin: 0px;
  font-size: 128px;
  position: absolute;
  bottom: 25px;
  left: 75px;
  color: #E9AD52;
}

.card-container-right > .top-right-card > .anand {
  margin: 0;
  writing-mode: vertical-rl;
  position: absolute;
  bottom: 45px;
  right: 0;
  font-size: 128px;
}

.card-container-right > .bottom-right-card {
  background-color: lightgray;
  height: 30vh;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  position: relative;
}

.bottom-right-card > .coder{
  margin: 0;
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 2.7rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.bottom-right-card > .artist {
  margin: 0;
  writing-mode: vertical-lr;
  position: absolute;
  right: 0px;
  top: 25px;
  font-size: 2.7rem;
  font-weight: bold;
}

#nav-toggle{
  height: 5rem;
  width: 5rem;
  position: fixed;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  background-color: #B5BD68;
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
  z-index: 3;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.1);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.9);
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  font-size: 1.75rem;
  opacity: 0;
}

nav {
  height: 50vh;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
}

#nav-links{
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(2rem, 2vw, 3rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(70%) scale(0.8);
  transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
}

#nav-links > .nav-link {
  text-decoration: none;
}

#nav-links > .nav-link > .nav-link-label {
  color: #fff;
  font-size: 1.25rem;
  margin: 0rem;
  text-transform: uppercase;
}

#nav-links > .nav-link > .nav-link-image {
  width: max(20vw, 400px);
  aspect-ratio: 1.8 / 1;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  filter: blur(1.5px);
  transition: all 500ms cubic-bezier(.13,.53,.38,.97)
}

#nav-links > .nav-link > .nav-link-image:hover {
  filter: blur(0px)
}

.experience-main {
  display: flex;
  flex-direction: row;
  gap: 2vw;
}

.experience-card-container {
  display: flex;
  flex-direction: column;
  gap: 100px;
  width: 45vw;
  justify-content: center;
  padding-left: 50px;
}

.experience-top-card {
  width: 90%;
  height: 25vh;
  background-color: lightgray;
  border-radius: 0px 0px 25px 25px;
}

.experience-bottom-card {

  width: 85%;
  height: 75vh;
  padding: 25px;
  background-color: #fff;
  border-radius: 25px 25px 0px 0px;
  position: relative;
}

.bottom-card-textcontainer {
  display: flex;
  flex-direction: column;
  gap: 5vh;
  height: 100%;
  width: 80%;
}

.para-1, .para-2 {
  font-size: 28px;
  font-style: italic;
  margin: 0;
}

.junior-topright {
  margin: 0;
  position: absolute;
  top: 25px;
  right: 10px;
  writing-mode: vertical-lr;
  color: #000;
}

.logo-container {
  width: 50vw;
  display: flex;
  flex-direction: row;
}

.logo-container-left, .logo-container-right {
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 2vh;
}

.logo-react {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 60%;
  color: #61dbfb;
  font-size: 20vw;
  position: relative;
}

.react {
  position: absolute;
  bottom: 9vh;
}


.logo-python {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 40%;
  font-size: 20vw;
  color: #fff;
}

.logo-pytorch {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: 18vw;
  color: #792ee5;
  position: relative;
}

.pytorch {
  top: 4vh;
  position: absolute;
}

.logo-htmlcss {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 50%;
  font-size: 20vw;
  color: #f09b00;
}

/* Bob */
@-webkit-keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
@keyframes hvr-bob {
  0% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
  50% {
    -webkit-transform: translateY(-8px);
    transform: translateY(-8px);
  }
  100% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
@-webkit-keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
@keyframes hvr-bob-float {
  100% {
    -webkit-transform: translateY(-12px);
    transform: translateY(-12px);
  }
}
.hvr-bob {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
}
.hvr-bob:hover, .hvr-bob:focus, .hvr-bob:active {
  -webkit-animation-name: hvr-bob-float, hvr-bob;
  animation-name: hvr-bob-float, hvr-bob;
  -webkit-animation-duration: .3s, 1.5s;
  animation-duration: .3s, 1.5s;
  -webkit-animation-delay: 0s, .3s;
  animation-delay: 0s, .3s;
  -webkit-animation-timing-function: ease-out, ease-in-out;
  animation-timing-function: ease-out, ease-in-out;
  -webkit-animation-iteration-count: 1, infinite;
  animation-iteration-count: 1, infinite;
  -webkit-animation-fill-mode: forwards;
  animation-fill-mode: forwards;
  -webkit-animation-direction: normal, alternate;
  animation-direction: normal, alternate;
}

/* Shrink */
.hvr-shrink {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-shrink:hover, .hvr-shrink:focus, .hvr-shrink:active {
  -webkit-transform: scale(0.95);
  transform: scale(0.95);
}

/* Grow Rotate */
.hvr-grow-rotate {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow-rotate:hover, .hvr-grow-rotate:focus, .hvr-grow-rotate:active {
  -webkit-transform: scale(1.1) rotate(4deg);
  transform: scale(1.1) rotate(4deg);
}
