html {
  overflow-x: hidden;
}

body, 
main {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  background-color: black;
}

main {
  background-color: #232629;
  position: relative;
  transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
  z-index: 2;
}

main > .card-container {
  width: 95vw;
  height: 100vh;
  margin: 0 auto;
  background-color: rgba(0,0,0,0.1);
  display: flex;
  flex-direction: row;
  gap: 3rem;
}

main > .card-container > .card-container-left {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 47vw;;
}

main > .card-container > .card-container-left > .top-left-card {
  background-color: #E4E6C3;
  height: 53vh;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  position: relative;
}

main > .card-container > .card-container-left > .top-left-card > h1{
  margin: 0px;
  font-size: 128px;
  position: absolute;
  bottom: 25px;
  right: 25px;
}

main > .card-container > .card-container-left > .bottom-left-card {
  background-color: #FAEDCD;
  height: 49vh;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  position: relative;
}

main > .card-container > .card-container-left > .bottom-left-card > .gamer {
  position: absolute;
  left: 25px;
  top: -15px;
  font-size: 2.7rem;
  font-weight: bold;
}

main > .card-container > .card-container-left > .bottom-left-card > .student {
  position: absolute;
  transform: rotate(90deg);
  right: -25px;
  top: 45px;
  font-size: 2.7rem;
  font-weight: bold;
  font-family: 'montserrat';
}

main > .card-container > .card-container-right {
  display: flex;
  flex-direction: column;
  gap: 5rem;
  width: 47vw;
}

main > .card-container > .card-container-right > .top-right-card {
  background-color: white;
  height: 70vh;
  width: 100%;
  border-radius: 0px 0px 25px 25px;
  position: relative;
}

main > .card-container > .card-container-right > .top-right-card > .yuvanesh{
  margin: 0px;
  font-size: 128px;
  position: absolute;
  bottom: 25px;
  left: 75px;
  color: #E9AD52;
}

.card-container-right > .top-right-card > .anand {
  margin: 0;
  transform: rotate(-90deg);
  position: absolute;
  bottom: 170px;
  right: -100px;
  font-size: 128px;
}

.card-container-right > .bottom-right-card {
  background-color: lightgray;
  height: 30vh;
  width: 100%;
  border-radius: 25px 25px 0px 0px;
  position: relative;
}

.bottom-right-card > .coder{
  margin: 0;
  position: absolute;
  top: 25px;
  left: 25px;
  font-size: 2.7rem;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}

.bottom-right-card > .artist {
  margin: 0;
  transform: rotate(90deg);
  position: absolute;
  right: -25px;
  top: 70px;
  font-size: 2.7rem;
  font-weight: bold;
}

#nav-toggle{
  height: 5rem;
  width: 5rem;
  position: fixed;
  left: 50%;
  bottom: 3rem;
  transform: translateX(-50%);
  background-color: #B5BD68;
  border: none;
  border-radius: 5rem;
  outline: none;
  box-shadow: 0rem 0rem 4rem rgba(0 0 0 / 35%);
  cursor: pointer;
  transition: transform, background-color;
  transition-timing-function: ease;
  transition-duration: 400ms;
  z-index: 3;
}

#nav-toggle:hover {
  transform: translateX(-50%) scale(1.1);
}

#nav-toggle:active {
  transform: translateX(-50%) scale(0.9);
}

#nav-toggle > i {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%) scale(0.9);
  font-size: 1.75rem;
  opacity: 0;
}

nav {
  height: 50vh;
  width: 100%;
  position: absolute;
  left: 0px;
  bottom: 0px;
  z-index: 1;
}

#nav-links{
  display: flex;
  gap: clamp(1rem, 2vw, 2rem);
  margin-top: clamp(2rem, 2vw, 3rem);
  padding: 0rem clamp(1rem, 2vw, 2rem);
  transform: translateY(70%) scale(0.8);
  transition: transform 500ms cubic-bezier(.13,.53,.38,.97);
}

#nav-links > .nav-link {
  text-decoration: none;
}

#nav-links > .nav-link > .nav-link-label {
  color: #fff;
  font-size: 1.25rem;
  margin: 0rem;
  text-transform: uppercase;
}

#nav-links > .nav-link > .nav-link-image {
  width: max(20vw, 400px);
  aspect-ratio: 1.8 / 1;
  border-radius: 0.5rem;
  margin-top: 0.75rem;
  filter: blur(3px);
  transition: all 500ms cubic-bezier(.13,.53,.38,.97)
}

#nav-links > .nav-link > .nav-link-image:hover {
  filter: blur(0px)
}